<form action="/companies/{{company._id}}/snowboards" method="POST">
<label for="name">Name</label>
<input type="text" name="name">
<label for="price">Price</label>
<input type="number" name="price">
<input type="submit" value="create">
</form>