<div>
    <h1>{{company.name}}</h1>
    <div>Country: {{company.country}}</div>

    <div>
        <a href="/companies">Back to Companies</a>
    </div>
    <div>
        <a href="/companies/{{company._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/companies/{{company._id}}/delete">Delete</a>
    </div>
</div>